body {
    font-size: 16px;
    font-weight: normal;
    position: relative;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: $color-primary-1;
    font-family: $body-font;
    animation-duration: .75s;
    -webkit-animation-duration: .75s;
    animation-delay: .4s;
    -webkit-animation-delay: .4s;
    color: #FFFFFF;
}

img {
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $body-font;
    font-weight: normal;
}

p {
    line-height: 1.55;
}

a {
    text-decoration: none;
    color: #FFFFFF;
    transition: color 400ms;
    &:hover,
    &:active {
        color: $color-primary-6;
    }
}

.web-link {
    position: relative;
    @include mq('desktop') {
        padding-right: 50px;
        &:hover,
        &:active {
            .arrow_right {
                transform: scaleX(1) translateX(30px);
            }
        }
    }
    
}
.arrow_right {
    position: absolute;
    border-bottom: 1px solid $color-primary-1;
    height: 1px;
    width: 50px;
    right: 0;
    top: 50%;
    margin: auto;
    transform: scaleX(0) translateX(0);
    transform-origin: left;
    pointer-events: none;
    transition: all .3s cubic-bezier(.12, .75, .4, 1);
    &:before,
    &:after {
        @include pseudo;
        width: 1px;
        height: 9px;
        background: $color-primary-1;
        right: 2px;
    }
    &:before {
        top: -6px;
        transform: rotate(-45deg);
    }
    &:after {
        top: 1px;
        transform: rotate(45deg);
        .mac & {
            top: 0;
        }
    }
}

.is-open {
    display: block;
}

ul {
    list-style: none;
    padding-left: 0;
}

.col-small {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding-right: 1.2rem;
    @include mq('tablet') {
        flex: 0 0 14%;
        max-width: 14%;
        padding-right: 1.875rem;
    }
}

.intro {
    padding: 2rem 0 2.5rem;
    @include mq('tablet') {
        padding: 5rem 0 6rem;
    }
    @include mq('desktop') {
        padding: 5rem 0 4rem;
    }
    @include mq('desktop-xl') {
        padding: 6.5rem 0 7.5rem
    }
    h1 {
        padding-bottom: 1.875rem;
    }
}

.section-margin {
    margin: 0.625rem 1.875rem;
    @include mq('desktop') {
        margin: 1.875rem 4.375rem;
    }
    &_sides {
        margin: 0 0.9375rem;
        @include mq('desktop') {
            margin: 0 4.375rem;
        }
    }
}

.text-align__left {
    text-align: left;
}

.text-align__center {
    text-align: center;
}

.width-restrict__medium {
    width: 300px;

    @include mq('tablet') {
        width: 600px;
    }
}

.title {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.title,
.web-link {
    font-weight: bold;
}

nav {
    li {
        display: inline-block;
        &:first-child {
            padding-right: 1.125rem;
        }
    }
}
