footer {
    padding: 1.875rem 0 4.0625rem;
    @include mq('desktop') {
        padding: 0;
        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .text {
        opacity: .8;
    }
    .about {
        .title {
            font-size: 1.875rem;
        }
    }
    .experience {
        &_wrapper {
            display: flex;
            flex-wrap: wrap;
            li {
                padding-bottom: .4rem;
            }
        }
    }
    .social {
        i {
            font-size: 2rem;
            padding-right: 0.5rem;
        }
    }
}
