$browser-default-font-size: 16px !default;

/*
	REMs
*/

$rems-on: true !default;
$rems-base-font-size: $browser-default-font-size / 100% * $html-font-size !default;

@function rem($size, $reverse: false) {
    $html-font-size-units: if(str-index(#{$html-font-size}, px), px, %);
    $unitless: strip-unit($size);
    $unitless-base: strip-unit(if($html-font-size-units==px, $html-font-size, $rems-base-font-size));

    @if $reverse==false {

        @if $rems-on {

            @if str-index(#{$size}, 'px') {

                @return $unitless / $unitless-base * 1rem;

            }

            @elseif str-index(#{$size}, 'rem') {

                @return $size;

            }

        }

        @else {

            @if str-index(#{$size}, 'px') {

                @return $size;

            }

            @elseif str-index(#{$size}, 'rem') {

                @return $unitless * $unitless-base * 1px;

            }

        }

    }

    @else {

        @return $unitless * $unitless-base * 1px;

    }

}
